# Directories
__pycache__/
.venv/
.env
.env.*
logs/
*.egg-info/
dist/
build/
htmlcov/
.coverage
fastapi/
docker-compose.yml
Dockerfile

# Files
*.pyc
*.pyo
*.egg
*.egg-info
*.log
*.swp
*.DS_Store
.pytest_cache/
